
.geninfo {

margin: 5% 30%;
padding: 1%;
background-color: transparent;
border-radius:10%;
box-shadow: 5px 5px 10px black;
width: 40%;
background: #83a4d4;
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
    background: linear-gradient(to right, #b6fbff, #83a4d4);

}


.geninfo table{

    width:80%;
 margin-left:7%;
}
.bk1{
margin: 3% 30%;
    background-color: transparent;
    border-radius: 10%;
    box-shadow: 5px 5px 10px black;
    width: 35%;
background: #83a4d4;
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
    background: linear-gradient(to right, #b6fbff, #83a4d4);

}

table th{

    border-top: none;
}
.bk2{

    background-color: transparent;
    border-radius: 5%;
    box-shadow: 5px 5px 10px black;
    width: 25%;
background: #83a4d4;  
background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4); 
background: linear-gradient(to right, #b6fbff, #83a4d4);

}
.bookhistit,.geninfohead{
color:white;
        font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
    font-size:xx-large;
    background-color: lightgrey;
}
.bookhistory{
border: 2px dashed lightblue;
padding-bottom: 2%;
}
.userdoc{
margin-top: 2%;
padding-top: 1%;
padding-bottom: 2%;
    border: 5px dashed lightgray;

}
table tr{

border-color:transparent;

}
.passdhead{
    margin-top: 2%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bold;

}
.passdh{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    position: relative;
    font-weight: bold;     
    font-size: x-large;
    background-color: lightgray;
    border-radius: 5%;
}

.passdetails{

}


td{

font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}


@media (max-width:895px){
.geninfo{

width: 60%;
    
font-size: 12px;
}

.bk1 {
    background-color: transparent;
    border-radius: 5%;
    box-shadow: 5px 5px 10px black;
    width: 65%;
    background: #83a4d4;
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
    background: linear-gradient(to right, #b6fbff, #83a4d4);
    

}
.bk2 {

    margin: 3% 30%;
    background-color: transparent;
    border-radius: 5%;
    box-shadow: 5px 5px 10px black;
    width: 75%;
    background: #83a4d4;
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
    background: linear-gradient(to right, #b6fbff, #83a4d4);
position: relative;
left: -15%;

}

.passdh {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    position: relative;
    font-weight: bold;
    font-size: x-large;
    background-color: lightgray;
    border-radius: 5%;
}

.singup{
position: relative;
    left: -12%;

}

}

